@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.app {
    display: flex;
    position: relative;
    width: 100vw;
    border: red;
}

.content {
    width: inherit;
    height: 100vh;
    padding: 30px;
    background: #fcfcfc;
    overflow-y: scroll;
}

a {
    color: inherit;
    text-decoration: none;
}
